# Reprosyn within Python

Here we briefly provide examples of using generators within Reprosyn, with the 1% Census.

In [1]:
import pandas as pd
from reprosyn.methods import MST, IPF, CTGAN, PRIVBAYES, DS_INDHIST, DS_BAYNET, DS_PRIVBAYES, PATEGAN, SYNTHPOP

size = 10
epsilon = 1

WARNING:tensorflow:From /Users/cmole/git_repos/reprosyn/.venv/lib/python3.10/site-packages/tensorflow/python/compat/v2_compat.py:107: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

In [2]:
census = pd.read_csv('https://raw.githubusercontent.com/alan-turing-institute/reprosyn/main/src/reprosyn/datasets/2011-census-microdata/2011-census-microdata-small.csv')

census.drop(columns=['Person ID'], inplace=True)

census.head()

,Region,Residence Type,Family Composition,Population Base,Sex,Age,Marital Status,Student,Country of Birth,Health,Ethnic Group,Religion,Economic Activity,Occupation,Industry,Hours worked per week,Approximated Social Grade
0,E12000001,H,2,1,2,6,2,2,1,2,1,2,5,8,2,-9,4
1,E12000001,H,5,1,1,4,1,2,1,1,1,2,1,8,6,4,3
2,E12000001,H,3,1,2,4,1,2,1,1,1,1,1,6,11,3,4
3,E12000001,H,3,1,2,2,1,2,1,2,1,2,1,7,7,3,2
4,E12000001,H,3,1,1,5,4,2,1,1,1,2,1,1,4,3,2

## SYNTHPOP

In [3]:
spop = SYNTHPOP(dataset=census.copy(), size = size)

In [41]:
spop.run()

{'Region': 'category', 'Residence Type': 'category', 'Family Composition': 'category', 'Population Base': 'category', 'Sex': 'category', 'Age': 'category', 'Marital Status': 'category', 'Student': 'category', 'Country of Birth': 'category', 'Health': 'category', 'Ethnic Group': 'category', 'Religion': 'category', 'Economic Activity': 'category', 'Occupation': 'category', 'Industry': 'category', 'Hours worked per week': 'category', 'Approximated Social Grade': 'category'}
generate_Region
generate_Residence Type
generate_Family Composition
generate_Population Base
generate_Sex
generate_Age
generate_Marital Status
generate_Student
generate_Country of Birth
generate_Health
generate_Ethnic Group
generate_Religion
generate_Economic Activity
generate_Occupation
generate_Industry
generate_Hours worked per week
generate_Approximated Social Grade

/Users/cmole/git_repos/reprosyn/.venv/lib/python3.10/site-packages/synthpop/synthpop.py:99: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col, visit_step in self.visit_sequence.sort_values().iteritems():

In [5]:
spop.output

,Region,Residence Type,Family Composition,Population Base,Sex,Age,Marital Status,Student,Country of Birth,Health,Ethnic Group,Religion,Economic Activity,Occupation,Industry,Hours worked per week,Approximated Social Grade
0,E12000005,H,2,1,2,7,2,2,1,3,1,2,5,2,10,-9,2
1,E12000009,H,2,1,2,5,2,2,1,2,1,2,1,7,4,2,4
2,E12000001,H,1,2,2,1,1,1,-9,-9,-9,-9,-9,-9,-9,-9,-9
3,E12000009,H,1,2,2,2,1,1,-9,-9,-9,-9,-9,-9,-9,-9,-9
4,E12000002,H,2,1,2,1,1,1,1,1,1,2,-9,-9,-9,-9,-9
5,E12000005,H,2,1,1,6,2,2,1,2,1,2,1,2,6,3,1
6,E12000003,H,2,1,1,8,2,2,1,2,1,2,5,9,2,-9,4
7,E12000003,H,2,1,2,1,1,1,1,2,1,2,-9,-9,-9,-9,-9
8,E12000003,H,1,2,1,2,1,1,-9,-9,-9,-9,-9,-9,-9,-9,-9
9,E12000001,H,2,1,1,5,2,2,1,3,1,2,3,8,3,-9,2

## DS_INDHIST

In [6]:
indhist = DS_INDHIST(dataset=census.copy(), size = size)

In [7]:
indhist.run()

In [8]:
indhist.output

,Region,Residence Type,Family Composition,Population Base,Sex,Age,Marital Status,Student,Country of Birth,Health,Ethnic Group,Religion,Economic Activity,Occupation,Industry,Hours worked per week,Approximated Social Grade
0,E12000009,H,4,3,2,3,1,1,2,4,1,3,7,8,10,-9,4
1,E12000001,H,-9,2,1,1,1,1,-9,1,3,8,6,-9,9,2,2
2,E12000004,H,6,1,2,3,1,2,-9,-9,1,7,5,9,10,2,4
3,E12000003,H,-9,2,2,4,2,1,-9,3,4,3,8,3,11,4,3
4,E12000009,H,1,3,1,4,5,2,2,3,-9,2,6,-9,5,1,2
5,E12000009,H,-9,2,2,4,2,2,2,-9,5,3,5,2,12,2,-9
6,E12000004,H,-9,3,2,7,3,1,2,5,-9,8,6,-9,6,2,4
7,E12000009,H,3,2,2,3,1,1,-9,5,3,9,4,5,6,1,1
8,E12000001,H,-9,1,2,6,1,1,2,2,3,3,8,2,11,2,-9
9,E12000009,H,2,1,2,4,3,1,2,4,3,9,5,4,4,3,3

## DS_BAYNET

In [9]:
baynet = DS_BAYNET(dataset=census.copy(), size = size)

In [10]:
baynet.run()

In [11]:
baynet.output

,Region,Residence Type,Family Composition,Population Base,Sex,Age,Marital Status,Student,Country of Birth,Health,Ethnic Group,Religion,Economic Activity,Occupation,Industry,Hours worked per week,Approximated Social Grade
0,E12000005,H,2,1,1,2,1,2,1,2,1,2,1,8,6,3,1
1,E12000009,H,2,1,2,5,2,2,1,1,1,1,1,-9,-9,3,2
2,E12000003,H,1,1,1,7,5,2,1,2,1,2,5,8,6,-9,4
3,E12000009,H,-9,2,1,1,1,1,-9,1,-9,-9,-9,-9,-9,-9,-9
4,E12000003,H,2,1,1,8,2,2,1,3,1,2,5,9,4,-9,4
5,E12000003,H,3,1,1,3,1,2,1,2,1,1,1,2,11,2,1
6,E12000004,H,2,1,2,8,2,2,1,2,1,2,5,6,5,-9,4
7,E12000004,H,2,1,2,7,2,2,2,3,3,6,5,9,4,-9,4
8,E12000003,H,1,1,2,2,1,2,1,1,1,1,1,3,11,3,2
9,E12000004,H,2,1,2,1,1,1,1,4,1,2,-9,-9,-9,-9,-9

## DS_PRIVBAYES

In [12]:
privbayes = DS_PRIVBAYES(dataset=census.copy(), size = size, epsilon=epsilon)

In [13]:
privbayes.run()

/Users/cmole/git_repos/reprosyn/src/reprosyn/methods/data_synthesiser/data_synthesiser.py:236: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  encoded_df.loc[filter_condition, child] = choice(

In [14]:
privbayes.output

,Region,Residence Type,Family Composition,Population Base,Sex,Age,Marital Status,Student,Country of Birth,Health,Ethnic Group,Religion,Economic Activity,Occupation,Industry,Hours worked per week,Approximated Social Grade
0,E12000009,H,2,1,2,7,2,2,1,4,1,2,5,1,2,-9,2
1,E12000002,H,2,1,2,4,2,2,1,2,1,2,1,4,9,2,2
2,E12000002,H,2,1,1,3,1,2,1,2,1,2,7,5,3,-9,3
3,E12000001,H,2,1,2,5,2,2,1,1,1,1,7,4,11,-9,1
4,E12000001,H,3,1,2,1,1,1,1,5,1,1,-9,-9,-9,-9,-9
5,E12000009,H,1,1,1,6,4,2,1,1,1,2,1,2,2,3,2
6,E12000009,H,1,1,1,8,5,2,1,3,1,2,5,9,2,-9,4
7,E12000002,H,2,1,1,6,2,2,1,2,1,2,2,6,10,3,3
8,E12000004,H,2,1,2,2,1,2,1,1,1,2,1,6,11,3,2
9,E12000003,H,5,1,1,2,1,1,1,2,1,2,4,1,2,1,2

## PRIVBAYES

In [15]:
pbayes = PRIVBAYES(dataset=census.copy(), size=10, epsilon=1)

In [16]:
pbayes.run()

In [17]:
pbayes.output

,Region,Residence Type,Family Composition,Population Base,Sex,Age,Marital Status,Student,Country of Birth,Health,Ethnic Group,Religion,Economic Activity,Occupation,Industry,Hours worked per week,Approximated Social Grade
0,E12000004,H,2,1,1,8,2,2,1,4,1,2,5,1,4,-9,2
1,E12000004,H,2,1,2,6,2,2,1,3,1,2,5,7,7,-9,2
2,E12000009,H,2,1,1,6,2,2,1,3,1,2,1,1,9,3,2
3,E12000009,H,1,1,1,8,5,2,1,2,1,2,5,-9,-9,-9,3
4,E12000004,H,2,3,2,4,2,1,2,1,3,7,6,4,8,-9,2
5,E12000002,H,3,1,2,2,1,2,1,1,1,2,5,7,4,-9,4
6,E12000003,H,1,1,1,2,1,1,1,1,1,2,6,8,4,-9,2
7,E12000009,H,3,1,1,1,1,1,1,2,1,2,-9,-9,-9,-9,-9
8,E12000004,H,5,1,2,3,1,2,1,2,1,2,1,4,7,3,2
9,E12000003,H,3,1,2,4,2,2,1,1,1,2,1,9,10,3,4

## MST

In [18]:
size = 10

mst_gen = MST(dataset=census.copy(), size=size, epsilon = 1)

In [19]:
# can check the settable parameters. Set using gen.params['param'] = val
mst_gen.get_parameters()

{'epsilon': 1, 'delta': 1e-09, 'degree': 2}

In [20]:
mst_gen.run()

/Users/cmole/git_repos/reprosyn/.venv/lib/python3.10/site-packages/mbi/graphical_model.py:246: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df = df.groupby(list(proj)).apply(foo)
/Users/cmole/git_repos/reprosyn/.venv/lib/python3.10/site-packages/mbi/graphical_model.py:246: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df = df.groupby(list(proj)).apply(foo)
/Users/cmole/git_repos/reprosyn/.venv/lib/python3.10/site-packages/mbi/graphical_model.py:246: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df = df.groupby(list(proj)).apply(foo)
/Users/cmole/git_repos/reprosyn/.venv/lib/python3.10/site-packages/mbi/graphical_model.py:246: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df = df.groupby(list(proj)).apply(foo)
/Users/cmole/git_repos/reprosyn/.venv/lib/python3.10/site-packages/mbi/graphical_model.py:246: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df = df.groupby(list(proj)).apply(foo)
/Users/cmole/git_repos/reprosyn/.venv/lib/python3.10/site-packages/mbi/graphical_model.py:246: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df = df.groupby(list(proj)).apply(foo)
/Users/cmole/git_repos/reprosyn/.venv/lib/python3.10/site-packages/mbi/graphical_model.py:246: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df = df.groupby(list(proj)).apply(foo)
/Users/cmole/git_repos/reprosyn/.venv/lib/python3.10/site-packages/mbi/graphical_model.py:246: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df = df.groupby(list(proj)).apply(foo)
/Users/cmole/git_repos/reprosyn/.venv/lib/python3.10/site-packages/mbi/graphical_model.py:246: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df = df.groupby(list(proj)).apply(foo)
/Users/cmole/git_repos/reprosyn/.venv/lib/python3.10/site-packages/mbi/graphical_model.py:246: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df = df.groupby(list(proj)).apply(foo)
/Users/cmole/git_repos/reprosyn/.venv/lib/python3.10/site-packages/mbi/graphical_model.py:246: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df = df.groupby(list(proj)).apply(foo)
/Users/cmole/git_repos/reprosyn/.venv/lib/python3.10/site-packages/mbi/graphical_model.py:246: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df = df.groupby(list(proj)).apply(foo)
/Users/cmole/git_repos/reprosyn/.venv/lib/python3.10/site-packages/mbi/graphical_model.py:246: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df = df.groupby(list(proj)).apply(foo)
/Users/cmole/git_repos/reprosyn/.venv/lib/python3.10/site-packages/mbi/graphical_model.py:246: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df = df.groupby(list(proj)).apply(foo)
/Users/cmole/git_repos/reprosyn/.venv/lib/python3.10/site-packages/mbi/graphical_model.py:246: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df = df.groupby(list(proj)).apply(foo)
/Users/cmole/git_repos/reprosyn/.venv/lib/python3.10/site-packages/mbi/graphical_model.py:246: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df = df.groupby(list(proj)).apply(foo)

In [21]:
mst_gen.output

,Region,Residence Type,Family Composition,Population Base,Sex,Age,Marital Status,Student,Country of Birth,Health,Ethnic Group,Religion,Economic Activity,Occupation,Industry,Hours worked per week,Approximated Social Grade
0,E12000009,H,3,1,2,4,2,1,1,1,1,1,2,1,4,3,2
1,E12000003,H,3,1,1,1,1,2,1,1,1,2,-9,-9,-9,-9,-9
2,E12000005,H,5,1,1,5,4,2,1,2,1,2,1,6,11,3,3
3,E12000004,H,2,1,2,3,1,2,2,3,1,2,1,9,2,4,4
4,E12000004,H,2,1,1,7,2,2,1,1,1,2,9,8,9,-9,4
5,E12000002,H,2,1,2,6,2,2,1,3,1,2,5,-9,-9,-9,2
6,E12000009,H,2,1,1,7,2,2,1,2,1,2,5,1,8,-9,4
7,E12000001,H,5,1,1,4,1,2,1,1,1,2,1,3,12,2,2
8,E12000004,H,6,1,2,2,1,1,1,1,1,1,4,8,3,1,2
9,E12000003,H,2,1,1,6,2,2,1,1,1,2,1,8,4,3,4

## IPF

IPF only has one parameter, `marginals`. Additionally, IPF doesn't scale well and doesn't cope with all 17 features, so we drop a few of the larger features.

In [30]:
dropped = ['Industry','Economic Activity','Occupation','Approximated Social Grade']
census_slim = census.drop(columns = dropped, inplace=False).copy()

# need to also adjust the metadata passed
import json, requests
mdata = json.loads(requests.get("https://raw.githubusercontent.com/alan-turing-institute/privacy-sdg-toolbox/main/prive/datasets/examples/census.json").text)
    
mdata = [col for col in mdata if col["name"] in census_slim.columns]

In [31]:
ipf_gen = IPF(dataset=census_slim.copy(), metadata = mdata, size=size, marginals = [(0,1),(2,3),(1,2,4)])

In [32]:
ipf_gen.run()

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 10/10 [00:11<00:00,  1.16s/it]

In [34]:
ipf_gen.output

,Region,Residence Type,Family Composition,Population Base,Sex,Age,Marital Status,Student,Country of Birth,Health,Ethnic Group,Religion,Hours worked per week
0,E12000005,H,5,1,2,7,4,1,-9,3,-9,3,1
1,E12000005,H,2,1,1,4,2,1,1,3,3,9,4
2,E12000009,H,2,1,2,8,5,1,1,1,2,-9,2
3,E12000005,H,1,1,1,7,2,2,1,1,1,8,3
4,E12000003,H,1,1,2,6,2,2,-9,-9,3,2,2
5,E12000001,H,2,1,2,3,3,2,2,2,5,7,3
6,E12000002,H,1,1,1,2,1,2,2,1,2,-9,2
7,E12000004,H,2,1,1,4,1,1,2,5,2,3,1
8,E12000001,H,2,1,2,3,2,2,2,-9,1,5,3
9,E12000009,H,2,1,1,1,5,2,1,-9,5,-9,2

# CTGAN

In [35]:
ctgan = CTGAN(dataset=census.copy(), size=size, epochs = 10)

In [36]:
ctgan.run()

In [37]:
ctgan.output

,Region,Residence Type,Family Composition,Population Base,Sex,Age,Marital Status,Student,Country of Birth,Health,Ethnic Group,Religion,Economic Activity,Occupation,Industry,Hours worked per week,Approximated Social Grade
0,E12000003,H,1,1,1,1,1,1,1,1,3,1,-9,-9,4,-9,-9
1,E12000009,H,2,1,1,1,1,1,1,4,3,2,-9,2,-9,-9,1
2,E12000003,H,2,1,1,7,5,2,1,2,1,2,1,9,11,3,4
3,E12000009,H,2,1,1,6,2,2,1,2,1,2,4,2,2,3,4
4,E12000002,H,2,1,1,6,2,2,1,2,1,2,1,4,2,2,3
5,E12000003,H,2,1,1,7,1,1,1,2,2,2,-9,3,-9,-9,2
6,E12000004,H,2,1,2,3,1,1,1,1,1,-9,-9,-9,8,-9,2
7,E12000001,H,2,1,2,8,2,2,1,3,1,1,2,2,8,3,4
8,E12000001,H,5,1,1,1,1,1,1,1,3,2,6,-9,-9,-9,-9
9,E12000004,H,2,1,2,3,2,2,1,3,1,2,1,-9,-9,3,4

## PATEGAN

In [38]:
pategan = PATEGAN(dataset=census.copy(), size=size)

In [39]:
pategan.run()

In [40]:
pategan.output

,Region,Residence Type,Family Composition,Population Base,Sex,Age,Marital Status,Student,Country of Birth,Health,Ethnic Group,Religion,Economic Activity,Occupation,Industry,Hours worked per week,Approximated Social Grade
0,E12000009,H,-9,3,1,8,3,2,-9,1,-9,8,5,3,1,-9,1
1,E12000002,C,4,3,1,1,3,2,1,3,1,5,5,5,10,2,4
2,E12000008,H,4,3,1,6,1,1,-9,5,1,8,2,1,1,-9,4
3,E12000008,C,4,3,2,3,2,2,2,5,1,1,8,6,10,4,4
4,W92000004,H,1,1,2,5,4,1,-9,3,1,1,7,7,12,2,3
5,E12000008,C,4,3,2,6,2,1,2,1,5,7,3,8,7,1,3
6,E12000008,C,5,3,2,8,2,1,2,1,4,9,9,-9,11,1,1
7,E12000006,C,6,2,2,7,2,1,2,5,5,1,2,1,8,1,-9
8,E12000003,H,3,1,1,5,3,2,-9,2,1,5,5,5,1,-9,1
9,E12000006,H,6,2,2,2,2,1,1,4,5,1,3,8,12,1,3